.App {
  text-align: center;
}

.Button_block {
  display: block;
}

.Button_none {
  display: none;
}


.NotesContainer_div_block {
  display: block;

}

.NotesContainer_div_none {
  display: none;
} 